@charset "utf-8";
*{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: "NanumBarunpenR";
    font-size: 16px;
    color:navy;
}