/* ---------------CSS 초기화 ---------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------*/
@font-face {
  font-family: 'NanumBarunpen';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'NanumBarunpen';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.ttf') format("truetype");
  font-display: swap;
} 
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: 'NanumBarunpen';
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  color: #0475ff;
  font-family: 'NanumBarunpen';
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  margin-top: 300px;
  display: flex;
  align-items: center;
}
.item {
  margin: auto;
  width: 500px;
  border-radius: 5px;
  text-align: center;
}
.join_form {
  height: 350px;
  border-radius: 1px;
  text-align: center;
  position: relative;
}

.test {
  width: 10px;
}

.in {
  width: 350px;
  height: 60px;
  
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid black;
  outline: none;
}
.inId {
  width: 130px;
  height: 60px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid black;
  outline: none;
}
.inEmail {
  width: 70px;
  height: 60px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid black;
  outline: none;
  background-color: white;
}
#domain-txt {
  width: 100px;
}
#domain-list {
  width: 110px;
  height: 61.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid black;
  outline: none;
}

#btn {
  background-color: #0475ff;
  color: white;
  width: 350px;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: large;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#btn:hover {
  background-color: #0360d2;
}

form {
  font-size: 14px;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
}

.mismatch-message {
  margin-top: 20px;
  font-family: 'NanumBarunpen';
  font-weight: bold;
  color:  #0475ff;
}


/*모바일사이즈*/
@media screen and (max-width: 700px) {
  h1 {
    align-items: center;
  }
  .in {
    width: 280px;
    height: 50px;
  }
  .inId {
    width: 80px;
    height: 50px;
  }
  .inEmail {
    width: 40px;
    height: 50px;
  }
  #domain-txt {
    width: 90px;
  }

  #domain-list {
    width: 100px;
    height: 51.5px;
  }

  #btn {
    width: 280px;
  }
  
  .wrapper {
    margin-top: 300px;
  }

  /* #birth-year {
    width: 130px;
  }

  #birth-month {
    width: 70px;
    height: 37px;
  }
  #birth-day {
    width: 70px;
  } */
}
