@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif; 
    padding: 0;
}

h1{
    font-weight: 700;
    font-size: 40px;
    color: #0475FF;
}
body {
    background-color: #FFFFFF ;
}
.wrapper {
          display: flex;
          min-height: 100vh;
        }
.item {
        margin: auto;
        width: 500px;
        border-radius: 5px;
        padding: 300px;
        text-align: center;
}
.join_form {
         height: 350px;
         border-radius: 1px;
         border-radius: 1px;
         text-align: center;
          /* border: 1px ; */
         /* padding: 20px; */
         position: relative;
}

.test{
    width: 10px;
}

.in {
    width: 350px;
    height: 60px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid black;

}
.inId{ 
    width: 130px;
    height: 60px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid black;
}       
.inEmail{
    width: 70px;
    height: 60px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid black;
}
#domain-txt{
    width: 100px;
}
#domain-list{
    width: 110px;
    height: 61.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid black;
}


#btn {
    background-color: #0475FF;
    color: white;
    width: 350px;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    font-size: 14px;
}
.birth {
     color: #7D7D7D;
     position: absolute;
     left: 10%;
}

option {
        font-size: 16px;
            }
            
#birth-year{
    border-radius: 5px;
    width: 150px;
    height: 37px;
    border: none;
}

#birth-month{
    border-radius: 5px;
    width: 96px;
    height: 37px;
    border: none;
}
#birth-day{
    border-radius: 5px;
    width: 97px;
    height: 37px;
    border: none;
}

.hide {
    display: none;
  }

