@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: #0475FF;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  min-height: 100vh;
}

.item {
  margin: auto;
  width: 500px;
  border-radius: 5px;
  padding: 300px;
  text-align: center;
}
.login_form {
  height: 200px;
  border-radius: 1px;
  border-color: #0475FF;
  text-align: center;
}

.idSaveCheck {
  width: 10px;
}

.in {
  width: 350px;
  height: 60px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid black;
}

#btn {
  background-color: #0475FF;
  color: white;
}

a {
  color: #9b9b9b;
  font-size: 12px;
  text-decoration: none;

}
form {
  font-size: 15px;
}
