@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
}
.log {
  width: 100%;
  text-align: center;
}
h1 {
  align-items: center;
  justify-items: center;
}
body {
  background-color: #eeeff1;
}
.wrapper {
  display: flex;
  min-height: 100vh;
}

.item {
  margin: auto;
  width: 300px;
  background-color: #eeeff1;
  border-radius: 5px;
  padding: 300px;
}
.login_form {
  height: 180px;
  border: 1px solid;
  padding: 20px;
  border-radius: 1px;
  border-color: #9b9b9b;
}

.test {
  width: 10px;
}

.in {
  width: 255px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

#btn {
  background-color: #1bbc9b;

  color: white;
}

a {
  color: #9b9b9b;
  font-size: 12px;
}
form {
  font-size: 15px;
}