/* ---------------CSS 초기화 ---------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------*/

@font-face {
  font-family: 'NanumBarunpen';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Regular.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'NanumBarunpen';
  font-weight: 800;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunpen/NanumBarunpen-Bold.ttf') format("truetype");
  font-display: swap;
} 

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'NanumBarunpen';
}

section {
  height: 1070px;
  width: 1200px;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 23px;
  line-height: 30px;
  font-weight:300;
}

a {
  text-decoration: none;
  color: black;
}

body > section {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

body > section img {
  border-radius: 18px;
}

/*----------------첫번째 Main--------------------*/

body > section:nth-child(2) img {
  width: 590px;
  height: 400px;
  margin-right: 91px;
}

body > section:nth-child(2) h4 {
  color: #00ed5d;
}

body > section:nth-child(2) p {
  width: 490px;
  margin-top: 64px;
}

/*----------------두번째 Main--------------------*/

body > section:nth-child(3) img {
  width: 440px;
  height: 630px;
  margin-left: 91px;
}
body > section:nth-child(3) h3 {
  margin-bottom: 72px;
}

body > section:nth-child(3) p {
  width: 758px;
  margin-bottom: 40px;
}

/*----------------세번째 Main--------------------*/

body > section:nth-child(4) img {
  width: 440px;
  height: 630px;
  margin-right: 116px;
}

body > section:nth-child(4) h1 {
  margin-bottom: 72px;
  color: #00ed5d;
  margin-top: 10px;
}

body > section:nth-child(4) p {
  width: 758px;
  margin-bottom: 70px;
}

/*----------------네번째 Main--------------------*/
/*-----소개합니다-----*/
  body > section:nth-child(5) {
  flex-direction: column;
  display: flex;
  text-align: center;
  margin-top: 360px;
  height: 100%;
  }
  
  body > section:nth-child(5) h3 {
  padding: 0 40px;
  line-height: 35px;
  }
  
  body > section:nth-child(5) h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
  }
/*-----wave map-----*/
  #zwFuncInfo {
  flex-direction: column;
  justify-content: center;
  align-content:center;
  flex-grow: 5;
  flex-shrink: 5;
  margin-top: 120px;
  width: 440px;
  align-items: center;
  }
  
  #zwFuncInfo > div:first-child  {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  #zwFuncInfo > div:nth-child(1) h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color:blue;
  }

  #zwFuncInfo > div:nth-child(1) img {
    display: flex;
    width: 300px;
  }
  
  #zwFuncInfo > div:nth-child(1) p {
  width: 643px;
  text-align: center;
  margin-bottom: 32px;
  }
  
  #zwFuncInfo img {
  display: flex;
  width: 300px;
  }

  /*------제로샵 정보제공------------*/
  #zwFuncInfo > div:nth-child(2)  {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }
  
  #zwFuncInfo > div:nth-child(2) h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  color:blue;
  }

  #zwFuncInfo > div:nth-child(2) img {
    display: flex;
    width: 670px;
    height: 350px;
    margin-top: 100px;
  }
  
  #zwFuncInfo > div:nth-child(2) p {
  width: 643px;
  text-align: center;
  margin-bottom: 32px;
  }
  
  #zwFuncInfo img {
  display: flex;
  width: 300px;
  }

  /*-----용기내 추가------------*/
  #zwFuncInfo > div:nth-child(3)  {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    
    #zwFuncInfo > div:nth-child(3) h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color:blue;
    }
  
    #zwFuncInfo > div:nth-child(3) img {
      display: flex;
      width: 670px;
      height: 350px;
      margin-top: 70px;
    }
    
    #zwFuncInfo > div:nth-child(3) p {
    width: 643px;
    text-align: center;
    margin-bottom: 32px;
    }
    
    #zwFuncInfo img {
    display: flex;
    width: 300px;
    }
/*---------------- Footer --------------------*/

footer {
  border-top: 1px solid black;
   width: 70vw;
  flex: 1;
  margin-bottom: 250px;
}

.ocean {
  height: 200px; /* change the height of the waves here */
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: 2;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%230475ff'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.moveTopBtn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  font-size: 40px;
  z-index: 50;
  color: #00ed5d;
}

.item {
  position: absolute;
  height: auto;
  z-index: 0;
  animation: float;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item img {
  width: 400px;
  display: inline-block;
}

.item img:hover {
  width: 450px;
}

.item._1 {
  top: 182px;
  left: 15px;
  transform: rotate(332deg) translate(0, 0);
}
.item._2 {
  top: 100px;
  right: 43px;
  transform: rotate(30deg) translate(0, 0);
}
.item._3 {
  top: 650px;
  left: 100px;
  transform: rotate(332deg) translate(0, 0);
}
.item._4 {
  top: 619px;
  right: 150px;
  width: 350px;
  transform: rotate(332deg) translate(0, 0);
}





@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}








/*----------1600px보다 작을때---------- */
@media screen and (max-width: 1600px) {
  section{
    width: 100%;
  }


  .item img {
    width: 300px;
    display: inline-block;
  }
  
  .item img:hover {
    width: 350px;
  }

  
body > section:nth-child(2) img {
  width: 500px;
  height: 350px;
  margin-right: 91px;
}

/*----------------두번째 Main--------------------*/

body > section:nth-child(3) img {
  width: 350px;
  height: 500px;
  margin-left: 91px;
}
body > section:nth-child(3) h3 {
  margin-bottom: 72px;
}

body > section:nth-child(3) p {
  width: 600px;
  margin-bottom: 40px;
}

/*----------------세번째 Main--------------------*/

body > section:nth-child(4) img {
  width: 350px;
  height: 500px;
}

body > section:nth-child(4) p {
width: 35vw;
margin-bottom: 40px;
}

footer {
  border-top: 1px solid black;
   width: 70vw;
}

}

/*1200px보다 작을때 */

@media screen and (max-width: 1200px){
 /*----------------첫번째 Main--------------------*/
    body > section:nth-child(2){
      flex-direction: column;
    }

    body > section:nth-child(2) img{
      margin: 0;
      width: 600px;
      height: auto;
    }

    body > section:nth-child(2) div{
      margin-top: 30px;
    }

    body > section:nth-child(2) p {
    width:600px;
    margin-top: 32px;
    text-align: center;
    }

    /*----------------두번째 Main--------------------*/

    body > section:nth-child(3) img {
      width: 250px;
      height: auto;
      margin-left: 30px;
    }
    body > section:nth-child(3) h3 {
      margin-bottom: 72px;
    }

    body > section:nth-child(3) p {
      width: 50vw;
      margin-bottom: 40px;
    }

    body > section:nth-child(5) p {
      width: 50vw;
      margin-bottom: -100px;
    }

  /*----------------세번째 Main--------------------*/
    body > section:nth-child(4) img {
      width: 300px;
      height: auto;
      margin-right: 50px;
    }
    
    .ocean{
      height: 120px;
    }

    .item{
      display: none;
    }
}

  
/*----------모바일사이즈----------*/
@media screen and (max-width: 700px){
  h1 {
    font-size: 40px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  h3 {
    font-size: 26px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 28px;
    font-weight: 500;
  }
  
  p {
    font-size: 17px;
    line-height: 30px;
  }


  section {
    height: 100vh;
    width: 100vw;
  }

  .item{
    display: none;
  }

  body > section {
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 100px;
  }


  /*----------------첫번째 Main--------------------*/

  body > section:nth-child(2) img {
    display: none;
  }

  body > section:nth-child(2) div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > section:nth-child(2) div::before{
    content: "";
    background-image: url('../img/mainLogo.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0;
    margin-bottom: 50px;

  }

  body > section:nth-child(2) p {
    width: 80vw;
    margin-top: 32px;
    text-align: center;
  }

  /*----------------두번째 Main--------------------*/
  body > section:nth-child(3){
    position: relative;
  }

  body > section:nth-child(3)::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    opacity: 0.5;
    background-image: url('https://i.pinimg.com/564x/4e/af/33/4eaf339577deb89dd1cced976e065c91.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }


  body > section:nth-child(3) img {
    display: none;
  }

  body > section:nth-child(3) div {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    z-index: 50;
  }

  body > section:nth-child(3) h3{
    margin: 40px 0 20px 0;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  body > section:nth-child(3) p{
    width: 80vw;
    text-align: center;
    font-weight: 500;
  }

  /*----------------세번째 Main--------------------*/

body > section:nth-child(4) img {
  display: none;
}

body > section:nth-child(4) h1 {
  margin-bottom: 50px;
  color: #00ed5d;
  margin-top: 10px;
}

body > section:nth-child(4) p {
  width: 80vw;
  margin-bottom: 40px;
}

body > section:nth-child(5) {
  flex-direction: column;
  display: flex;
  text-align: center;
  margin-top: 360px;
  height: 100%;
  }
  
  body > section:nth-child(5) h3 {
  padding: 0 40px;
  line-height: 35px;
  }
  
  body > section:nth-child(5) h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
  }

 /*----------------네번째 Main--------------------*/
/*-----소개합니다-----*/
body > section:nth-child(5) {
  flex-direction: column;
  display: flex;
  text-align: center;
  margin-top: 360px;
  }
  
  body > section:nth-child(5) h3 {
  padding: 0 40px;
  line-height: 35px;
  }
  
  body > section:nth-child(5) h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
  }
/*-----wave map-----*/
  #zwFuncInfo {
  flex-direction: column;
  justify-content: center;
  align-content:center;
  flex-grow: 5;
  flex-shrink: 5;
  margin-top: 120px;
  width: 100vw;
  align-items: center;
  }
  
  #zwFuncInfo > div:first-child  {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  #zwFuncInfo > div:nth-child(1) h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color:blue;
  }

  #zwFuncInfo > div:nth-child(1) img {
    display: flex;
    width: 300px;
  }
  
  #zwFuncInfo > div:nth-child(1) p {
  width: 300px;
  word-wrap:break-word;
  text-align: center;
  margin-bottom: 32px;
  }
  
  #zwFuncInfo img {
    display: none;
  }

  /*------제로샵 정보제공------------*/
  #zwFuncInfo > div:nth-child(2)  {
  color: rgb(137, 115, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }
  
  #zwFuncInfo > div:nth-child(2) h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  color:blue;
  }

  #zwFuncInfo > div:nth-child(2) img {
    display: none;
  }
  
  #zwFuncInfo > div:nth-child(2) p {
  width: 300px;
  word-wrap:break-word;
  text-align: center;
  margin-bottom: 32px;
  }
  
  #zwFuncInfo img {
    display: none;    
  }

  /*-----용기내 추가------------*/
  #zwFuncInfo > div:nth-child(3)  {
    color: rgb(250, 9, 157);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    
    #zwFuncInfo > div:nth-child(3) h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color:rgb(112, 207, 109);
    }
  
    #zwFuncInfo > div:nth-child(3) img {
      display: none;
    }
    
    #zwFuncInfo > div:nth-child(3) p {
    width: 100vw;
    word-wrap:break-word;
    text-align: center;
    margin-bottom: 32px;
    }
    
    #zwFuncInfo img {
    display: none;
    }
  
.ocean{
  display: none;
  height: 72px;
}

footer {
  border-top: 1px solid black;
  width: 70vw;
 flex: 1;
}

}
