

/* --map wrap은 지도 위 공간--*/

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap { position:relative; top:200; left:0; bottom:20; }
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}

/*--menu wrap은 메뉴 백그라운드(투명배경)*/
#menu_wrap {position:absolute; height: 900px;top:100px; bottom:250; width:300px; margin:110px 30px 10px;padding:5px;overflow-y:auto;background:rgba(234, 234, 234, 0.765);z-index: 9999;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}


#menu_wrap hr {display: block; height: 3px;border: 0; border-top: 1px solid #5F5F5F;margin:5px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px; margin-top: 5px;}


/*---MAP---*/
#map{margin:200px 10px; padding:600px;border-radius: 15px; width:1000PX;  }
/* 위의 margin : 150px은 위와의 여백을 얼마나 둘것인가 가운데는 지도를 왼쪽으로부터 얼마나 거리를 둘지를 의미.*/

.keyword {margin:10px 15px;}  
.option button {position: relative;}
/*option 위는 검색 칸을 의미*/


/*--------------- 토글 map 목록-------------------*/
 .dropbtn {
    background-color: #0475FF;
    color: white;
    min-width: 210px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    margin-left: 5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e7340;}

/*--------------- 페이지 목록-------------------*/


#placesList li {list-style: none;left:0; top:0;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block; margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}

#placesList .info .gray {color:#3f3d3d; }
#placesList .info .jibun {padding-left:15px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}


#placesList .item .markerbg {float:left;position:absolute;width:52px; height:70px; margin: 9px 2px; background:url(https://cdn-icons-png.flaticon.com/512/921/921490.png)no-repeat; background-size: 43px; }
#placesList .item .marker_1 {background-position: 0 4px;}


#pagination {margin:10px auto; text-align: center;}
#pagination a {display:inline-block; margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default; color:#777;}
