nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 70px;
  font-family: 'Noto Sans KR', sans-serif;
  z-index: 100;
}
nav section {
  display: flex;
  width: 1400px;
  align-items: center;
  justify-content: space-between;
  height: 48px !important;
}

nav img {
  width: 40px;
  margin-right: 15px;
}

nav section div {
  border-radius: 6px;
  height: 48px;
  display: flex;
  align-items: center;
}

nav section > div:nth-child(2) {
  width: 1600px;
  margin-right: 27px;
}

nav section > div:nth-child(2) a {
  margin-left: 30px;
}

nav section > div:last-child {
  width: 308px;
  justify-content: space-around;
}

nav a {
  color: #00ed5d;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 400px;
}

nav a img {
  display: inline-block;
}

nav a:hover {
  color: #0475ff;
  font-size: 22px;
}

#mypageLink{
  width: 75px;
}

#mainLogo:hover {
  color: #00ed5d;
}

.selectedLink {
  color: #0475ff;
  font-size: 22px;
}

button:hover {
  cursor: pointer;
}

#logoutBtn {
  border: none;
  background-color: transparent;
  color: #00ed5d;
  font-weight: 600;
  font-size: 20px;
}

#logoutBtn:hover {
  color: #0475ff;
}

.transparent {
  display: none;
}
