<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/join.css">
</head>
<body>  
     <nav id="nav">
      <%-include('./nav.ejs', {islogin: islogin})%>
    </nav>
    <div class="wrapper">
        <div class="item">
            <div class="log"><h1>Join</h1></div>

            <form id="join_form">
                <input type="text" placeholder="이름" class="in" name="user_name" required>
                <div>
                    <input type="text" placeholder="아이디" class="inId" name="emailID" required >
                    <input type="text" placeholder="이메일" class="inEmail" id="domain-txt" name="emailDomain" required>
                    <select id="domain-list">
                        <option value="type">직접 입력</option>
                        <option value="@naver.com">@naver.com</option>
                        <option value="@google.com">@google.com</option>
                        <option value="@hanmail.net">@hanmail.net</option>
                        <option value="@nate.com">@nate.com</option>
                        <option value="@kakao.com">@kakao.com</option>
                    </select>
                </div>
                <input type="password" placeholder="비밀번호" class="in" id="user_pw1" name="user_pw" required>
                <input type="password" placeholder="비밀번호 확인" class="in" id="user_pw2" name="user_pw2" required>
                <div class="mismatch-message hide">두 비밀번호가 일치하지 않습니다.</div>

                <!-- <div class="birth_form"> -->
                    <!-- <p class="birth">생년월일</p> -->
                    <!-- </div>
                    <div class="info" id="info_birth">
                        <select class="box" id="birth-year">
                          <option disabled selected>출생 연도</option>
                        </select>
                        <select class="box" id="birth-month">
                          <option disabled selected>월</option>
                        </select>
                     <select class="box" id="birth-day">
                          <option disabled selected>일</option>
                        </select>
                    </div> -->
                    <input class="in" type="button" id="btn" value="회원가입" onclick="join()"><br>
            </form>

        </div>
    </div>

    <script src="/static/js/join.js"></script>
</body>
</html>