<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>
    <nav id="nav"><%-include('./nav.ejs', {type: '', islogin: islogin})%></nav>
    <div class="wrapper">
      <div class="item">
        <div class="log"><h1>Login</h1></div>
        <form class="login_form" id="login_form">
          <% if(!email) { %>
          <input
            type="text"
            placeholder="이메일"
            class="in"
            name="user_email"
            id="userId"
            required
          />
          <% } else { %>
          <input
            type="text"
            class="in"
            name="user_email"
            id="userId"
            value="<%=email%>"
            required
          />
          <% } %>
          <input
            type="password"
            placeholder="비밀번호"
            class="in"
            name="user_pw"
            required
          />
          <button
            class="in"
            type="button"
            id="btn"
            value="로그인"
            onclick="login()"
          >
            로그인</button
          ><br />
          <div id="idsave">
            <label for="idSaveCheck">
              <input name="idsave" id="idSaveCheck" type="checkbox" />아이디
              저장
            </label>
          </div>
        
        <a id="forgot" href="forgot">비밀번호를 잊으셨나요?</a>
      </form>
      </div>
    </div>

    <script src="/static/js/login.js"></script>
  </body>
</html>
