<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="item">
        <div class="log"><h1>Login</h1></div>
        <form class="login_form" action="../views/main.ejs" method="post">
          <input type="text" placeholder="이메일" class="in" name="user_email">
          <input type="password" placeholder="비밀번호" class="in" name="user_pw">
          <input class="in" type="submit" id="btn" value="로그인" onclick="login()"><br>
          <input class="test" type="checkbox">
          <label for="check">로그인 상태 유지</label>
        </form>
        <a href="#none">비밀번호를 잊어버리셨나요?</a>
      </div>
    </div>
    <script src="/static/js/login.js"></script>
  </body>
</html>
