<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script>
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    </script>

    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/map.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    >
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>map</title>
   
</head>

<body>
    <nav id="nav">
        <%-include('./nav.ejs', {type: '', islogin:islogin})%>
    </nav>
    <div id="popupModal" class="transparent">
        <div>
            <span id="placeName"></span>
            <form action="">
                <label for="zeroWasteMap">제로웨이스트</label>
                <input type="radio" name="radio" id="zeroWasteMap" value="zero" checked>
                <label for="ygnMap">용기내챌린지</label>
                <input type="radio" name="radio" value="ygn" id="ygnMap">
            </form>
            <div>
                <button type="button" id="addPlaceBtn" onclick="addPlace()">추가</button>
                <button type="button" onclick="closeModal()">닫기</button>
            </div>
        </div>
    </div>
    <button id="openList" class="transparent" type="button" onclick="toggleList()">openList</button>
<div class="map_wrap">
    <div id="map"></div>
    <div id="menu_wrap" class="bg_white">
    <div id="clickLatlng"></div>    
         <div class= "option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    <input type="text" value="" id="keyword" size="25"> 
                    <button type="submit">검색</button> 
                </form>
            </div>    

            <div class="dropdown">
                <button class="dropbtn-mapBtn" value="default">Map</button>
                <div class="dropdown-content">
                  <button class="mapBtn" value="zero">제로웨이스트</button><hr>
                  <button class="mapBtn" value="ygn">용기내</button>
                </div>
            </div> 
         </div>
            <hr>
    <ul id="placesList"></ul>
    <div id="pagination"></div>    
    </div>    
   
  
</div>



<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d2772601590f0ed140826adec58e8a1&libraries=services"></script>
<script>

    var markers = [];
    let mapContainer = document.getElementById("map");
    let initPosition = new kakao.maps.LatLng( 37.53367689999959, 126.95917989999991);
    let options = { center: initPosition, level: 6 };
    let map = new kakao.maps.Map(mapContainer, options); //지도생성
    let mapName = "default";
    var ps = new kakao.maps.services.Places();  
    let searchIdx = false;
    const modalDiv = $('#popupModal');
    
    let neLat,neLng,swLat,swLng;

    
    $(window).resize(() => {
        chkSize();
    })

    function chkSize(){
    if(window.outerWidth <=1200){
            console.log('2');
        $('#menu_wrap').addClass('transparent');
        $('#openList').removeClass('transparent');
    }

    if(window.outerWidth >1200){
        $('#menu_wrap').removeClass('transparent');
        $('#openList').addClass('transparent');
    }
    }

    chkSize();
    function toggleList(){
        $('#menu_wrap').toggleClass('transparent');
    }
    $('.mapBtn').click(changeMap);
   


 
    function changeMap(e){
        mapName = e.target.value;
        console.log(mapName);
        searchIdx = false;
        neLat = map.getBounds().getNorthEast().getLat();
        neLng = map.getBounds().getNorthEast().getLng();
        swLat = map.getBounds().getSouthWest().getLat();
        swLng = map.getBounds().getSouthWest().getLng();
        getMapLi(mapName,neLat,neLng,swLat,swLng);
    }
    
    kakao.maps.event.addListener(map, "zoom_changed", function() {
        if(!searchIdx){
            neLat = this.getBounds().getNorthEast().getLat();
             neLng = this.getBounds().getNorthEast().getLng();
             swLat = this.getBounds().getSouthWest().getLat();
             swLng = this.getBounds().getSouthWest().getLng();
            getMapLi(mapName,neLat,neLng,swLat,swLng);
        }
        });    

    kakao.maps.event.addListener(map, "bounds_changed", function() {
        if(!searchIdx){
            neLat = this.getBounds().getNorthEast().getLat();
            neLng = this.getBounds().getNorthEast().getLng();
            swLat = this.getBounds().getSouthWest().getLat();
            swLng = this.getBounds().getSouthWest().getLng();
        getMapLi(mapName,neLat,neLng,swLat,swLng);
        }
    }); 
        

    // 인포윈도우
    // searchPlaces();

    // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});


    function getMapLi(mapName,neLat,neLng,swLat,swLng){
        axios({ 
            method: "post", 
            url: "map/selectMap",
            data: {
                mapName,
                neLat,
                neLng,
                swLat,
                swLng
            }
        }).then(function(res){
            var spotList = res.data; 
            displayPlaces(spotList);

        });
    }


    //검색 결과 목록과 마커 표시, 표출
    function displayPlaces(places) {
        var listEl = document.getElementById('placesList'), 
        menuEl = document.getElementById('menu_wrap'),
        fragment = document.createDocumentFragment(), 
        listStr = '';

        removeAllChildNods(listEl); // 검색 결과 목록에 추가된 항목들을 제거합니다
        removeMarker();       // 지도에 표시되고 있는 마커를 제거합니다

        for ( var i = 0; i < places.length; i++ ) {
        var placePosition = new kakao.maps.LatLng(places[i].lat, places[i].lon);
        let marker = addMarker(placePosition, i);

        let itemEl = getListItem(i, places[i], "notSearch");  // 검색 결과 항목 Element를 생성합니다
            // 마커와 검색결과 항목에 mouseover 했을때
            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
        (function(marker, title) { 
            kakao.maps.event.addListener(marker, 'mouseover', function() { displayInfowindow(marker, title, 0,0); });
            kakao.maps.event.addListener(marker, 'mouseout', function() { infowindow.close(); });
            
            itemEl.addEventListener("click", function (e) {displayInfowindow(marker, title);
            //props.setAddress(places[i]);
            map.panTo(placePosition);
              });
            })(marker, places[i].spot_name);

            fragment.appendChild(itemEl);
          }

          listEl?.appendChild(fragment);
          menuEl.scrollTop = 0;

          // map.panTo(bounds);
        }

    function displaySearchPlaces(places){
        var listEl = document.getElementById('placesList'), 
        menuEl = document.getElementById('menu_wrap'),
        fragment = document.createDocumentFragment(), 
        listStr = '';

        removeAllChildNods(listEl); // 검색 결과 목록에 추가된 항목들을 제거합니다
        removeMarker();       // 지도에 표시되고 있는 마커를 제거합니다

        for ( var i = 0; i < places.length; i++ ) {

        var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x);
        let marker = addMarker(placePosition, i);
        console.log(places[i]);
        let itemEl = getListItem(i, places[i], "search");  // 검색 결과 항목 Element를 생성합니다
        (function(marker, title, x,y, address) { 

            kakao.maps.event.addListener(marker, 'mouseover', function() { displayInfowindow(marker, title, x,y , address); });
            kakao.maps.event.addListener(marker, 'mouseout', function() { infowindow.close(); });
            console.log(places[i].x);
            console.log(itemEl);
            itemEl.addEventListener("click", function (e) {
            displayInfowindow(marker, title, x,y ,address);
            //props.setAddress(places[i]);
            map.panTo(placePosition);
              });
            })(marker, places[i].place_name, places[i].x, places[i].y, places[i].address_name);

            fragment.appendChild(itemEl);
          }

          listEl?.appendChild(fragment);
          menuEl.scrollTop = 0;
    }


// 키워드 검색을 요청하는 함수입니다
function searchPlaces() {
    var keyword = document.getElementById('keyword').value;
    searchIdx = true;
    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch( keyword, placesSearchCB); 
}

// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        // 정상적으로 검색이 완료됐으면
        // 검색 목록과 마커를 표출합니다
        displaySearchPlaces(data);


    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

        alert('검색 결과가 존재하지 않습니다.');
        return;

    } else if (status === kakao.maps.services.Status.ERROR) {

        alert('검색 결과 중 오류가 발생했습니다.');
        return;

    }
}
        

function getListItem(index,places,type){
        let spot;
        let address;
        if(type == "search"){
            spot = places.place_name;
            address = places.address_name;
        }else if(type = "notSearch"){
            spot = places.spot_name;
            address =  places.address;
        }
        var el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +

                '<div class="info">' +'   <h5>' + spot + '</h5>';

                    if (address) {
                        
                        itemStr += 
                        //'    <span>' + places.address + '</span>' +
                    '<span class="jibun gray">' + address  + '</span>';
                } 
                    else {
                        itemStr += '    <span>' +  spot  + '</span>'; }
                        //itemStr += '  <span class="tel">' + places.spot_name  + '</span>' + '</div>';

                        el.innerHTML = itemStr;
                        el.className = 'item';

                    return el;
    }
            


function addMarker(position, idx) {
                
                // Size = new kakao.maps.Size(36, 37), 
                // imgOptions =  { 
                //     spriteSize : new kakao.maps.Size(36, 691), 
                //     spriteOrigin : new kakao.maps.Point(0, (idx*46)+10),
                //     offset: new kakao.maps.Point(13, 37) }, 
                //     markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),     
                marker = new kakao.maps.Marker({ position: position});
                marker.setMap(map);
                markers.push(marker);

                    return marker;
    }

 

    function removeMarker() {
                    for ( var i = 0; i < markers.length; i++ ) {
                        markers[i].setMap(null);
                    }
                    markers = [];

        }

    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다    
    // 인포윈도우에 장소명을 표시합니다

    //const islogin = "<%=islogin%>";
    function displayInfowindow(marker, title, x, y,address) { 
        console.log(islogin, "islogin");
        if(searchIdx && islogin === "true"){
            var content = `<div class="bubble">${title}<button class="addplace" onclick="addClickPlus(this)" data-pos-lon="${x}" data-pos-lat="${y}" data-place-name="${title}" data-address = "${address}">+</button></div>`; 
        }else{
            var content = '<div class="bubble">' + title + '</div>'; 
        }
               
                infowindow.setContent(content); 
                infowindow.open(map, marker);
    }


    let searchLon, searchLat, searchPlaceName, searchAddress;
    function addClickPlus(e){
        searchLon= e.dataset.posLon;
        searchLat= e.dataset.posLat;
        searchPlaceName = e.dataset.placeName;
        searchAddress = e.dataset.address;
       
       modalDiv.removeClass('transparent');
       $('#placeName').text(searchPlaceName);
    }





    function addPlace(){
       let mapName= document.querySelector('input[name="radio"]:checked').value;
       console.log(searchLon, searchLat, searchPlaceName, searchAddress, mapName);

       /*
       axios({ 
            method: "post", 
            url: "map/addPlaces",
            data: {
                spot_name : placeName,
                lat,lon,
                address,
            }
        }).then(function(res){
            var spotList = res.data; 
            displayPlaces(spotList);

        });
        */
        
    }

    function closeModal(){
        modalDiv.addClass('transparent');
    }

    function removeAllChildNods(el) {   
                while (el.hasChildNodes()) {
                    el.removeChild (el.lastChild);
                }
        }

            
     
    
    
</script>
</body>
</html>