<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/mypage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>My page</title>
    <!-- <script type="text/javascript">
      $(document).ready(function () {
        // 넣을 헤더의 id
        $('#nav').load('/static/html/nav.html'); // 원하는 파일 경로를 삽입하면 된다
      });
    </script> -->
  </head>
  <body>
    <nav id="nav"><%-include('./nav.ejs', {type: '', islogin: islogin})%></nav>
    <div id="userInfoBtn">
      <div id="userInfo">
        <h1><%=sessionUser.name%>님,<br> 안녕하세요!</h1>
        <br />
        <h3><%=sessionUser.email%></h3>
        <div class="memberbtn">
          <a
            href="/zerowave/mypage-user"
            class="<% type == 'mypage-user' && __append('selectedLink')%>"
            >회원정보수정</a
          >
          <button id="withdrawalBtn" type="button">회원탈퇴</button><br />
        </div>
      </div>
        <div id="btngroup">
          <button
            id="listBtn"
            class="loadList"
            type="button"
            onclick="myAddList()"
          >
            내가 등록한 장소
          </button>
          <button id="favBtn" class="myList" type="button" onclick="myFavList()">
            즐겨찾기
          </button>
        </div>
    </div>

    <section>
      <div id="contents"></div>
    </section>
    <script src="/static/js/mypage.js"></script>
    <script></script>
  </body>
</html>
