<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/mypage-edit.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Edit My Profile</title>
  </head>
  <body>
  
    <nav id="nav">
      <%-include('./nav.ejs', {type: '', islogin: islogin})%>
    </nav>
    
    <div class="wrapper">
      <div class="item"> 
        <h1><%=sessionUser.name%>님의 프로필</h1>
          <br>
        <form id="edit-form">
          <div>
            <label for="email">이메일 : </label>
          <input type="text" value="<%=sessionUser.email%>" id="email" name="email"  placeholder="이메일" class="in_email" readonly>    
          </div>
          <br>
          <div>
            <label for="pw1">새 비밀번호 : </label>
          <input type="password"  id="pw1" name="pw1" placeholder="새 비밀번호" class="in_pw1" required>
          </div>  
          <br>
          <div>
            <label for="pw2">새 비밀번호 확인 : </label>
            <input type="password" id="pw2" name="pw2" placeholder="새 비밀번호 확인" class="in_pw2" required>
          </div>
          <br>
          <div>
            <label for="name">이름 : </label>
            <input type="text" value="<%=sessionUser.name%>" id="name" name="name" placeholder="이름" class="in_name" required>
          </div>
          <br>
          <div class="edit_cancel">
            <button id="editBtn" type="button" onclick="editProfile()">수정</button>
            <button id="cancel" onclick="location.href='/zerowave/mypage'">취소</button>
          </div>
        </form>
    </div>
  </div>

    <script src="/static/js/mypage-edit.js">
    </script>
  </body>
</html>
