<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/mypage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Mypage</title>
    <!-- <script type="text/javascript">
      $(document).ready(function () {
        // 넣을 헤더의 id
        $('#nav').load('/static/html/nav.html'); // 원하는 파일 경로를 삽입하면 된다
      });
    </script> -->
  </head>
  <body>
    
    <nav id="nav">
      <%-include('./nav.ejs', { islogin:'false' })%>
    </nav>
    <section>
      <h1><span id="userName"></span>님 안녕하세요</h1>
      <h2>내가 기록한 Maps</h2>
      <div id="contents">
      </div>
    </section>
    <script>
      //이름은 나중에 받기
      let nameIdx = '조혜빈';
      $('#userName').text(nameIdx);

      const contents = {
        "0":{
          img: "https://cdn.imweb.me/thumbnail/20220228/d42ecc3f90d03.jpg",
          name : "알맹상점",
          desc : "채식 브런치 얼쓰 인 얼쓰",
          loc : "세종특별자치시 대평로 86 해들마을 6단지 상가동",
          call : "044 999 4219"
        },
        "1" : {
          img: "https://cdn.imweb.me/thumbnail/20220228/d42ecc3f90d03.jpg",
          name : "알맹상점",
          desc : "채식 브런치 얼쓰 인 얼쓰",
          loc : "세종특별자치시 대평로 86 해들마을 6단지 상가동",
          call : "044 999 4219"
        },
        "2" : {
          img: "https://cdn.imweb.me/thumbnail/20220228/d42ecc3f90d03.jpg",
          name : "알맹상점",
          desc : "채식 브런치 얼쓰 인 얼쓰",
          loc : "세종특별자치시 대평로 86 해들마을 6단지 상가동",
          call : "044 999 4219"
        },
        "3":{
          img: "https://cdn.imweb.me/thumbnail/20220228/d42ecc3f90d03.jpg",
          name : "알맹상점",
          desc : "채식 브런치 얼쓰 인 얼쓰",
          loc : "세종특별자치시 대평로 86 해들마을 6단지 상가동",
          call : "044 999 4219"
        }
      }

      for(let i =0; i< Object.keys(contents).length; i++){
        let content = contents[String(i)];
        let contentDiv = document.createElement('div');
        let contentDivDetail = document.createElement('div');
        let img = document.createElement('img');
        let name = document.createElement('h4');
        let desc = document.createElement('p');
        let loc = document.createElement('p');
        let call = document.createElement('p');

    
        img.setAttribute('src',content["img"]);
        name.innerText = content["name"];
        desc.innerText = content["desc"];
        loc.innerText = content["loc"];
        call.innerText = content["call"];
        contentDivDetail.append(name,desc,loc,call)
        contentDiv.append(img,contentDivDetail);

        contentDiv.classList.add('content');
        $('#contents').append(contentDiv);

      }
    </script>
  </body>
</html>
