<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/mypage-user.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Edit My Profile</title>
  </head>
  <body> 
    <nav id="nav">
      <%-include('./nav.ejs', {type: '', islogin: islogin})%>
    </nav>
  <div class="wrapper">
    <div class="item"> 
      <h1>회원정보 수정</h1>
      <p>현재 비밀번호를 입력해주세요.</p>
      <form id="password-check">
          <!-- <label for="password">현재 비밀번호</label> -->
          <input class="in" type="password" id="password" name="password" placeholder="현재 비밀번호">
          <button type="button" id="btn" onclick="checkPassword()">확인</button>
      </form>
      <div class="alink">
        <a href="/zerowave/mypage">마이페이지</a>
      </div>
    </div>
  </div>
    <script src="/static/js/mypage-user.js">
    </script>
  </body>
</html>
