<section>
    <a href="/zerowave" id="mainLogo">
        <img src="/static/img/mainLogo.png">
        <span>제로웨이브</span>
    </a>
    <div>
        <a href="/zerowave/main/map" class="navlink <% type == 'map' &&  __append('selectedLink')%>">Map</a>
    </div>
    <div>
        <a href="/zerowave/main/login" id="loginLink" class="navlink <% type == 'login' &&  __append('selectedLink')%> transparent">Login</a>
        <a href="/zerowave/main/join" class="navlink  <% type == 'join' &&  __append('selectedLink')%>" >Join</a>
        <a href="/zerowave/main/mypage" class="navlink <% type == 'mypage' && __append('selectedLink')%>">Mypage</a>
        <button id="logoutBtn" class="">Logout</button>
    </div>
</section>
<script>
    let login = "<%=islogin%>"; 
    const logoutBtn = document.getElementById('logoutBtn');
    const loginLink = document.getElementById('loginLink');
    if(login === "true"){
      logoutBtn.classList.remove('transparent');
      loginLink.classList.add('transparent');
    }else{
        logoutBtn.classList.add('transparent');
        loginLink.classList.remove('transparent');;
    }

</script>

<!--
    조건? true : false

    조건 && true
-->